/* Newsfeed Cards */

.card {
  margin: 25px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 6px 4px #a1c4fd;
  box-shadow: 0px 0px 6px 4px #a1c4fd;
  cursor: pointer;
  flex-wrap: wrap;
}
.header-background {
  background-color: white;
}
.footer-background {
  background-color: white;
  flex-wrap: wrap;
}

.value {
  color: black;
  text-align: center;
  position: relative;
}

.card-header {
  margin: 0 auto !important;
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

img {
  border-radius: 35px;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(121, 170, 178);
}

.card-stats .stat-border {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 15px;
  border: solid white;
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 10px;
}
.card-text {
  grid-area: text;
  text-align: center;
  margin: 25px;
}
.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}

.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
  color: black;
}

.float-right {
  color: #000;
}

.btn-secondary a {
  color: #fff !important;
}

.btn-secondary {
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );
}
.btn-secondary {
  margin: 15px;
  margin-left: 30px;
  padding: 10px 100px;

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-secondary:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

input#exampleFile.form-control {
  border: 3px solid;
  border-image-source: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
  border-image-slice: 1;
  border-radius: 5px;
}

select#exampleSelect.form-control {
  border: 3px solid;
  border-image-source: linear-gradient(
    to right,
    #74ebd5 0%,
    #9face6 100%
  ) !important;
  border-image-slice: 1;
  border-radius: 5px;
}

#loginSection {
  margin-left: 200px;
}

/* Signup Page */

input#firstname.form-control,
input#lastname.form-control,
input#email.form-control,
input#username.form-control,
input#password.form-control,
input#confirmPassword.form-control {
  border: 3px solid;
  border-image-source: linear-gradient(to right, #74ebd5 0%, #9face6 100%);

  border-image-slice: 1;
  border-radius: 5px;
}

.btn-danger {
  border: 3px solid;
  border-image-source: linear-gradient(
    to right,
    #74ebd5 0%,
    #9face6 100%
  ) !important;
  border-image-slice: 1;
  border-radius: 5px;
}

.btn-danger {
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  #loginSection {
    margin-left: 0px;
  }
}
@media (max-width: 600px) {
  .card {
    width: 100%;
    border-radius: 0;
  }
}
