
<nav class="navbar navbar-default">
  <div class="container first-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" id="newsfeed">Go to NewsFeed</a>
    </div>
    <div class="navbar-header">
     <a class="navbar-brand" id="profile">Edit Profile</a>
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <center><img src = "/assets/css/StudyBuddy.png"></center>
  </div>
</div>
  <div class="container first profile">
    <div class="row">
      <div class="col-md-12">
        <h2><center>Welcome <span class="member-name"></span></h2></center>
        <div id = profileInfo></div>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-12">
			<form id="cms">
				<div class="form-group">
				<center><label for="body">Post</label></center>
					<textarea placeholder="What is your mind?" class="form-control" rows="5" id="body"></textarea>
					<br />
					<button type="submit" class="btn btn-success submit">Submit</button>
        </div>
				</div>
			</form>
	</div>
  </div>

		
		

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/members.js"></script>

  