<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <center><img src = "/assets/css/StudyBuddy.png"></center>
  </div>
</div>
<div class="container first">
      <div class="row">
        <div class="col-sm-12">
          <center><h1>Upload Profile Image</h1></center>
          <form
            class="mt-4"
            action="/upload"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <input
                type="file"
                name="file"
                id="input-files"
                class="form-control-file border"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <div class="preview-images"></div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/profilePic.js"></script>