<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <center><img src = "/assets/css/StudyBuddy.png"></center>
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container first-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/blog" id="newsfeed">Newsfeed</a>
    </div>
  </div>
</nav>

<div class="container first">
  <div class="avatar-flip">
  </div>
  <h2 id ="name"></h2>
  <h4>Portfolio</h4>
  <p id ="team"></p>
  <p id ="sport"></p>
  <p id ="location"></p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/profilePage.js"></script>