#reqBody {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.75);
}

.bg-info {
  background-color: rgba(176, 123, 172, 0.45) !important;
  border-radius: 15px !important;
  box-shadow: none !important;
}

.float-left.card {
  border-radius: 15px !important;
  box-shadow: none !important;
}

#comments {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 10px 10px 25px 10px;
}

.card-header {
  border-radius: 15px !important;
  background-color: transparent;
  border: none;
  font-weight: 800;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.5rem !important;
}

.card-title {
  font-weight: 700;
  text-align: center;
}

.card-text {
  font-weight: 500;
}

.card-footer {
  padding: 0.5rem !important;
  background-color: transparent;
  border: none;
  text-align: center;
}

#messageBody {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 5px;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.75);
  width: 860px;
  margin-left: 99px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  #messageBody {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 5px;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.75);
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .float-left.card {
    border-radius: 15px !important;
    box-shadow: none !important;
    width: 85%;
  }

  .float-right.card-body {
    color: #000;
    width: 90% !important;
  }

  .bg-info {
    background-color: rgba(176, 123, 172, 0.45) !important;
    border-radius: 15px !important;
    box-shadow: none !important;
    width: 85%;
  }
}

.float-right.close {
  margin-right: 10px;
}

img {
  border-radius: 5px;
}

img#avatar.float-left {
  border-radius: 5px;
  margin-right: 15px;
}
