 @import url(https://fonts.googleapis.com/css?family=Roboto:900,300);
body {
  background-color: white;
  background-image: url("/assets/css/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: roboto;
}
/* .hidden {
  display: none;
} */

form.signup,
form.login {
  margin-top: 50px;
}
.scores{
  border-radius: 20px;
  padding-left: 10px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  margin-bottom: 10px;
}

.sticky + .content {
  padding-top: 60px;
}


.card-group{
  margin-bottom: 10px;
}

button.submit {
  float: right;
}

#preview {
  width: 500px;
  height: auto;
  background: white;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.user-container {
  margin-top: 50px;
}

.user-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.jumbotron{
  opacity: 0.5;
  padding:0px;
}

.display-4, .font{
  font-family: 'Permanent Marker', cursive;
  text-decoration: underline;
}


.Profilecontainer{
  margin-bottom: 20px;
}

.blog {
  width: 600px;
  background-color: rgb(233, 229, 229);
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}

#user-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

.first {
  width: 400px;
  /* margin: 100px auto 100px; */
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}
.container:hover .avatar-flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.container:hover .avatar-flip img:first-child {
  opacity: 0;
}
.container:hover .avatar-flip img:last-child {
  opacity: 1;
}
.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}
.profileInfo {
  border-radius: 100px;
  width: 50px;
}
.proPic {
  border-radius: 100px;
  width: 70px;
  float: left;
}
.commentPic {
  border-radius: 100px;
  width: 30px;
}

#preview{
  border-radius: 100px;
  width:200px;
}

.btn{
  padding: 5px
}

.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
  z-index: 1;
}
.avatar-flip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}
h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}
h4 {
  font-size: 28px;
  letter-spacing: 1px;
  margin-bottom: 25px
}
p {
  font-size: 12px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}

.commentDiv{
  border-top: 2px dotted black;
  padding-top: 10px;
}