#footer {
  height: 40px;
  width: 100%;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  color: #000;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 8px;
}

#footer a {
  color: #6153cc !important;
}
