button.btn.btn-primary.btn-block {
  color: #fff !important;
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );

  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  width: 165px;
}

button.btn.btn-primary.btn-block:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.signupLink a {
  color: #5448c8;
}

#mainBody {
  margin-left: 50px;
  margin-right: 50px;
}

#footer {
  height: 40px;
  width: 100%;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  color: #000;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  padding-top: 8px;
  margin-top: 200px;
}
